# Ignore compiled output and temporary files
/dist
/tmp
/out-tsc
/bazel-out

# Ignore dependencies
/node_modules

# Ignore profiling files
chrome-profiler-events*.json

# Ignore IDEs and editors
.idea
*.project
*.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode
.history

# Ignore misc files
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# Ignore system files
.DS_Store
Thumbs.db
