*.zip filter=lfs diff=lfs merge=lfs -text
*.pack filter=lfs diff=lfs merge=lfs -text
.angular/cache/16.2.1/angular-webpack/071fb6042e6df598fc64fcb49bf90499922912e3/7.pack filter=lfs diff=lfs merge=lfs -text
