.center-menu {
  width: 100%;
  text-align: -webkit-center;
}

::ng-deep .mat-mdc-fab,
.mat-mdc-mini-fab {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0), 0px 6px 10px 0px rgba(0, 0, 0, 0), 0px 1px 18px 0px rgba(0, 0, 0, 0) !important;
  color: var(--mat-mdc-fab-color, inherit);
  flex-shrink: 0;
}